@font-face {
  font-family: "Gotham-Light";
  src: url("../fonts/gotham-light/Gotham-Light.eot?#iefix") format("embedded-opentype"),
    url("../fonts/gotham-light/Gotham-Light.otf") format("opentype"),
    url("../fonts/gotham-light/Gotham-Light.woff") format("woff"),
    url("../fonts/gotham-light/Gotham-Light.ttf") format("truetype"),
    url("../fonts/gotham-light/Gotham-Light.svg#Gotham-Light") format("svg");
  font-weight: normal;
  font-style: normal;
}

*{
  font-family: "Gotham-Light", Tahoma, sans-serif
}

html,
body,
.view {
  height: 100%;
}

.navbar {
  background-color: rgba(0, 0, 0, 0.2);
}

.top-nav-collapse {
  background-color: #1c2331;
}

.kv-card{
    max-width: 350px;
}
body.index-bg{
  background-color: #fff;
  /*background-image: url('../images/onlyBG.png'), url('../images/bg_bottom.png');
  background-size: 100% auto, 100% auto;
  background-position: center center, center center;
  background-repeat: no-repeat, repeat-y;*/
  background-image: url('../images/bg_bottom.png');
  background-size: 100% auto;
  background-position: center center;
  background-repeat: repeat-y;
}
.bg-head{
  background-color: #fff;
  background-image: url('../images/bg_Head_desktop.png');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.bg-index-bottom{
  background-image: url('../images/bg-index-bottom.png');
  background-size: 100% auto;
  background-position: top center;
  background-repeat: no-repeat;
}
.container-kv{
  width: 100%;
  height: auto;
  position: relative
}
.container-animate{
  width: 100%;
  height: auto;
  background-color: red;
  position: relative;
}
.layer-kv{
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.layer-kv-test{
  width: 100%;
  height: auto;
  position: absolute;
  display: none;
}
.main-firstsignin{
  min-height: 100vh;
}
/*Smart wizard*/
.sw-theme-arrows>ul.step-anchor>li.active>a{
  border-color: #ff0000!important;
  background-color: #ff0000!important;
}
.sw-theme-arrows>ul.step-anchor>li.active>a:after{
  border-left: 30px solid #ff0000!important;
}

@media only screen and (max-width: 768px) {
  .navbar {
    background-color: #1c2331;
  }
}

.page-footer {
  background-color: #1c2331;
}

#time-counter {
  font-size: 3rem;
}
@media (min-width: 800px) and (max-width: 850px) {
  .navbar:not(.top-nav-collapse) {
    background: #1c2331 !important;
  }
}
@media (max-width:768px){
  .bg-index-bottom{
    background-image: url('../images/bg-index-bottom.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }
}
@media (max-width:515px){
  body.index-bg{
    background-color: #fff;    
    background-image: url('../images/bg_bottom.png');
    background-size: 100% auto;
    background-position: center center;
    background-repeat: repeat-y;
  }
  .bg-head{
    background-color: aqua;
    background-image: url('../images/onlyBG.png');
    background-size: auto 100%;
    background-position: center center;
    background-repeat: no-repeat;
  }
  .bg-index-bottom{
    background-image: url('../images/bg_bottom.png');
    background-size: 100% auto;
    background-position: center center;
    background-repeat: repeat-y;
  }
  #time-counter {
    font-size: 1.5rem;
  }
}