@font-face {
  font-family: "Gotham-Light";
  src: url("../fonts/gotham-light/Gotham-Light.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/gotham-light/Gotham-Light.otf") format("opentype"),
    url("../fonts/gotham-light/Gotham-Light.woff") format("woff"),
    url("../fonts/gotham-light/Gotham-Light.ttf") format("truetype"),
    url("../fonts/gotham-light/Gotham-Light.svg#Gotham-Light") format("svg");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "Gotham-Light", Tahoma, sans-serif;
}
.carousel,
.carousel .carousel-inner,
.carousel .carousel-inner .active,
.carousel .carousel-inner .carousel-item,
html,
body,
.view {
  height: 100%;
}
.container_inputID{
  position: fixed;
  width: 100%;
  max-width: 768px;
  bottom: 2rem;
}
.navbar {
  /*background-color: rgba(0, 0, 0, 0.2);*/
  background-color: #fff;
  background-image: url('../images/bg_head_table.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.def-font-color{
  color: #54361e;
}
.top-nav-collapse {
  background-color: #fff;
  background-image: url('../images/bg_head_table.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.kv-card {
  max-width: 350px;
}
body.index-bg {
  background-color: #fff;
  /*background-image: url('../images/onlyBG.png'), url('../images/bg_bottom.png');
  background-size: 100% auto, 100% auto;
  background-position: center center, center center;
  background-repeat: no-repeat, repeat-y;*/
  background-image: url("../images/bg_bottom.png");
  background-size: 100% auto;
  background-position: center center;
  background-repeat: repeat-y;
}
.bg-head {
  background-color: #fff;
  background-image: url("../images/bg_Head_desktop.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.bg-index-bottom {
  background-image: url("../images/bg-index-bottom.png");
  background-size: 100% auto;
  background-position: top center;
  background-repeat: no-repeat;
}
.container-kv {
  width: 100%;
  height: auto;
  position: relative;
}
.container-animate {
  width: 100%;
  height: auto;
  background-color: red;
  position: relative;
}
.layer-kv {
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.layer-kv img{
  width: 80%;
  margin: 0 auto;
}
.layer-kv-test {
  width: 100%;
  height: auto;
  position: absolute;
  display: none;
}
.main-firstsignin {
  min-height: 100vh;
}
.card-comments img {
  width: 4rem;
}
.title-step1{
  color: #fd5b17;
  font-size: 35px;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}
.flower-title{
  background-image: url('../images/flower_title_step1.png'), url('../images/flower_title_step1.png');
  background-repeat: no-repeat, no-repeat;
  background-position: left center, right center;
  background-size: 40px auto, 40px auto;
  padding-left: 50px;
  padding-right: 50px;
}
.btn-wood{
  background-color: transparent;
  background-image: url('../images/btn_wood.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border-radius: 23px;
  color: #fff;
}
.btn-wood:hover{
  color: #fff;
}
.btn-img-wood{
  padding-top: 2px;
  padding-bottom: 2px;
}
.btn_wood_tiki{
  background-color: transparent;
  background-image: url('../images/btn_wood_tiki.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  min-width: 200px;
  min-height: 50px;
}
.title-agenda-img{
  max-width: 500px;
  width: 100%;
  margin-bottom: 1rem;
}
.title-lra-img{
  max-width: 600px;
  width: 100%;
  margin-bottom: 1rem;
  margin-top: 1rem;
}
.title-hili-img{
  max-width: 400px;
  width: 100%;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
.card-body-paper{
  background-color: #fff;
  background-image: url('../images/bg_table_hover.png');
  background-repeat: no-repeat;
  background-size: cover; 
}
.bg-paper{
  /*background-image: url('../images/paper.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding-top: 5rem;
  padding-left: 4rem;
  padding-right: 4rem;
  padding-bottom: 4rem;
  max-height: 750px;
  overflow: hidden;
  overflow-y: auto; */
}
/*Smart wizard*/
.sw-theme-arrows>ul.step-anchor{
  background-color: transparent;
  border-bottom: none;
}

.sw-theme-arrows > ul.step-anchor > li.active > a , .sw-theme-arrows>ul.step-anchor>li.done>a {
  border-color: none !important;
  background-color: transparent !important;
  background-image: url('../images/step_pass.png')!important;
  background-repeat: no-repeat!important;
  background-size: 100% 100%!important;
  color: #fff;
  padding: 5px 45px 5px 45px;
  margin-left: 5px;
  margin-right: 5px;
  position: relative;
}
.sw-theme-arrows > ul.step-anchor > li.active > a::before, .sw-theme-arrows>ul.step-anchor>li>a::before{
  border-left: none !important;  
}
.sw-theme-arrows > ul.step-anchor > li.active > a::before, .sw-theme-arrows>ul.step-anchor>li>a:before {
  position: absolute;
  left: 0;
  content: '';
  width: 30px!important;
  height: 30px!important;
  background-color: transparent;
  background-image: url('../images/tiki_icon.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: left center;
  display: block;
  top: 0!important;
  bottom: 0!important;
  border-left: none!important;
  border-right: none!important;

}
.sw-theme-arrows > ul.step-anchor > li.active > a::after, .sw-theme-arrows>ul.step-anchor>li>a::after {
  border-left: none !important;
}
.sw-theme-arrows ,.sw-theme-arrows .step-content{
  background-color: transparent;
  border: none;
}
.sw-theme-arrows>ul.step-anchor>li>a, .sw-theme-arrows>ul.step-anchor>li>a:hover{
  background-color: transparent;
  background-image: url('../images/step.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: #fff;
  padding: 5px 45px 5px 45px;
  margin-left: 5px;
  margin-right: 5px;
}
.bg-first{
  background-color: #fff;
  background-image: url('../images/bg_first.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  background-attachment: fixed;
}
.btn.disabled.label {
  opacity: 1;
}
.plus_wood{
  width: 18px;
}
.custom-control-input:checked ~ .custom-control-label::before {
  border-color: #4a290f;
  background-color: #4a290f;
}
table.table-hover tbody tr:hover {
  background-color: transparent;
  background-image: url('../images/bg_table_hover.png');
  background-size: cover;
  background-repeat: no-repeat;
  color: #000;
}
table.table-hover.table-web tbody tr:hover {
  background-color: #639efc;
  color: #fff;
}
body.main-body-option1{
  background-image: url('../images/bg_option1.png'), url('../images/bg_option2.png'), url('../images/bg_first.png');
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-size: 18% auto, 18% auto, cover;
  background-attachment: fixed, fixed, fixed;
  background-position: left bottom, right bottom, center center;
}
body.main-body-option2{
  background-image: url('../images/bg_option5.png'), url('../images/bg_option6.png'), url('../images/bg_option3.png'), url('../images/bg_first.png');
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
  background-size: 15% auto, 15% auto, 18% auto, cover;
  background-attachment: fixed, fixed, fixed, fixed;
  background-position: top left, top right, right bottom, center center;
}

main.main {
  min-height: 100vh;
  /*background-image: url('../images/bg_first.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;*/
}
.container_laithai_left{
  position: fixed;
  width: 30vh;
  height: 30vh;
  left: 5%;
  top: 60%;
  background-color: transparent;
}
.container_laithai_right{
  position: fixed;
  width: 30vh;
  height: 30vh;
  right: 5%;
  top: 60%;
  background-color: transparent;
}
.btnplusinput{
  background-color: transparent;
  border: none;
  position: absolute;
  right: 0;
  bottom: 2px;
  font-size: 20px;
}
.progress{
  
}
.text-progress{  
  width: 100%;
  top: -3px;
  text-align: center;
  font-size: 16px;
  color: #ff0000;
}
@media only screen and (max-width: 768px) {
  .navbar {
    background-color: #fff;
    background-image: url('../images/bg_head_table.png');
    background-repeat: no-repeat;
    background-size: cover;

  }
  .sw-theme-arrows > ul.step-anchor {
    background-color: transparent !important;
  }
  .container_laithai_left{    
    width: 30vh;
    height: 30vh;
    left: -15vh;
    top: 60%;
    background-color: transparent;
  }
  .container_laithai_right{    
    width: 30vh;
    height: 30vh;
    right: -15vh;
    top: 60%;
    background-color: transparent;
  }
  .btnplusinput{
    right: 10px;
  }
  .sw-theme-arrows > ul.step-anchor > li.active > a, .sw-theme-arrows>ul.step-anchor>li.done>a, .sw-theme-arrows>ul.step-anchor>li>a, .sw-theme-arrows>ul.step-anchor>li>a:hover{
    padding: 5px 20px 5px 20px;
  }
  .container_inputID{
    position: fixed;
    width: 100%;
    max-width: 700px;
    bottom: 2rem;
  }
}
.img-activity-icon{
  width: 60px;
}
.page-footer {
  background-color: transparent;
}
footer.page-footer .footer-copyright{
  background-color: transparent;
  color: #000;
}
footer.page-footer a{
  color: #000;
}
#time-counter {
  font-size: 3rem;
}
@media (min-width: 769px) and (max-width: 1366px){
  .container-kv{
    max-width: 52%;
    margin: 0 auto;
  }
}
@media (min-width: 769px){
  .h-fluid{
    max-height: 100%;
  }
}
@media (min-width: 800px) and (max-width: 850px) {
  .navbar:not(.top-nav-collapse) {
    background: #639efc !important;
  }
}
@media (max-width: 768px) {
  .bg-index-bottom {
    background-image: url("../images/bg-index-bottom.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }
  .sw-theme-arrows > ul.step-anchor > li > a,
  .sw-theme-arrows > ul.step-anchor > li > a,
  .sw-theme-arrows > ul.step-anchor > li > a:hover {
    padding-right: 15px;
  }
}
@media (max-width: 515px) {
  body.index-bg {
    background-color: #fff;
    background-image: url("../images/bg_bottom.png");
    background-size: 100% auto;
    background-position: center center;
    background-repeat: repeat-y;
  }
  .bg-head {
    background-color: aqua;
    background-image: url("../images/onlyBG.png");
    background-size: auto 100%;
    background-position: center center;
    background-repeat: no-repeat;
  }
  .bg-index-bottom {
    background-image: url("../images/bg_bottom.png");
    background-size: 100% auto;
    background-position: center center;
    background-repeat: repeat-y;
  }
  #time-counter {
    font-size: 1.5rem;
  }
  .container_laithai_left{    
    width: 20vh;
    height: 20vh;
    left: -10vh;
    top: 59%;
    background-color: transparent;
  }
  .container_laithai_right{    
    width: 20vh;
    height: 20vh;
    right: -10vh;
    top: 59%;
    background-color: transparent;
  }
  .icon_q{
    display: block;
    margin: 0 auto;
  }
}
